*.jar
*.war
*.ear
*.class
*.metadata*
*.project*
*.history*
*.fdx
*.fdt
*.frq
*.fnm
*.nrm
*.frx
*.prx
*.tii
*.tis
*.buildpath
*.bd
*.settings
*recommenders/*
*.exe
*.log
*.lock
*.recommenders/*
*.classpath
*/target/*